	
<!--<div><{if isset($topicbanner)}><{$topicbanner}><{/if}></div>-->

<{if $displaynav == true}>
  <!--<div style="text-align: right;"><b><a href="<{$xoops_url}>/modules/AMS/submit.php"><img src="<{$xoops_url}>/modules/AMS/images/new.png"><{$lang_postnewarticle}></a></b></div>-->
  <div style="float: right;">
    <{$topic_form.javascript}>
        <form name="<{$topic_form.name}>" id="<{$topic_form.name}>" action="<{$topic_form.action}>" method="<{$topic_form.method}>">
    <table id="topicform" cellspacing="0">
    <!-- start of form elements loop -->
    <tr valign="top">
    <td>
    <{foreach item=element from=$topic_form.elements}>
      <{if $element.hidden != true}>
            <{$element.body}>&nbsp;
      <{else}>
        <{$element.body}>
      <{/if}>
    <{/foreach}>
    </td>
    </tr>
    <!-- end of form elements loop -->
    </table>
  </form>
  <hr />
  </div>
<{/if}>

<h2 class="siteheader"><{$breadcrumb}></h2>

<div style="margin: 10px;"><{$pagenav}></div>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <!-- start news item loop -->
        <{counter assign=story_count start=0 print=false}>
        <{section name=i loop=$stories}>
            <{if $story_count > 0 && $story_count mod $columns == 0}>
                </tr>
                <tr>
            <{/if}>
            <td width="<{$columnwidth}>%" style="padding:5px;">
                <{include file="db:ams_item.html" story=$stories[i]}>
                <{counter}>
            </td>
        <{/section}>
    </tr>
</table>

<div style="text-align: right; margin: 10px;"><{$pagenav}></div>
<{include file='db:system_notification_select.html'}>
