<table>
  <tr>
    <th><{$lang_newsarchives}></th>
  </tr>

<{foreach item=year from=$years}>
<{foreach item=month from=$year.months}>

  <tr class="even">
    <td><a href="./archive.php?year=<{$year.number}>&amp;month=<{$month.number}>"><{$month.string}> <{$year.number}></a></td>
  </tr>

<{/foreach}>
<{/foreach}>

</table>

<{if $show_articles == true}>

<table>
  <tr>
    <th><{$lang_articles}></th><th align="center"><{$lang_actions}></th><th align="center"><{$lang_views}></th><th align="center"><{$lang_date}></th>
  </tr>

  <{foreach item=story from=$stories}>

  <tr class="<{cycle values="even,odd"}>">
    <td><{$story.title}></td><td align="center"><a href="<{$story.print_link}>"><img src="images/print.png" alt="<{$lang_printer}>" /></a> <a href="<{$story.mail_link}>" target="_top" /><img src="images/email.png" alt="<{$lang_sendstory}>" /></td><td align="center"><{$story.counter}></td><td align="center"><{$story.date}></td>
  </tr>

  <{/foreach}>

</table>

<div>
<{$lang_storytotal}>
</div>

<{/if}>