/* Thanks to Snow77, Skalpa and Leostotch for the initial work, Dugris for help  */
/* Mor.pho.GEN.e.sis version 2.1 by kris (http://www.xoofoo.org and http://www.frxoops.org) */
/* file name : blocks.css - 12 01 2008 */

/*========== list in columns ==========*/
.xo-canvas-column ul {
	margin:							0;
	padding:							.5em;
	list-style-type:				none;
}
.xo-canvas-column ul ul {
	padding-top:					0;
	padding-bottom:				0;
	padding-left:					1em;

}

/* ====== cells table in column ========*/
.xo-canvas-column .outer, .xo-canvas-column .outer td {
	color: 							#32529C;
	background-color:				#f6f6f6;
	border:							0 none;
}
.xo-canvas-column .outer, .xo-canvas-column .outer img {
	margin:							0;
	padding:							0;
	border: 							0 !important;
}

/*===== left column =======*/
#xo-canvas-leftcolumn .xo-block {
	margin-top:						33px;
	margin-right:					0px;
	margin-bottom:					10px;	
	color:							#fff;

	/*border-right: dotted 1px #d7863e;*/
}
#xo-canvas-leftcolumn .xo-blocktitle {

	background: url(../icons/bullet.gif) no-repeat left;
	padding-left:					13px;
	padding-top: 2px;
	padding-bottom:				3px;	
	color:							#562F00;
	font-family:					"Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-size:						1.2em;
	font-weight:					bold;
}
#xo-canvas-leftcolumn .xo-blockcontent {	
	background-color: 			inherit;
	padding:							0px;
	color:							#333;
}
* html #xo-canvas-leftcolumn .xo-blockcontent { height: 110px;}
#xo-canvas-leftcolumn .xo-blockcontent a {
	background-color: 			inherit;
	color:							#AB5500;
	text-decoration: 				none;
}
#xo-canvas-leftcolumn .xo-blockcontent a:hover {
	background-color: 			inherit;
	color:							#562F00;
	text-decoration: 				none;
}
#xo-canvas-leftcolumn img {
	margin: 							3px 3px 0 7px;
	padding: 						2px;
	border: 							1px solid #d7863e;
}
#xo-canvas-leftcolumn img:hover {border: 1px solid #562F00;}

#xo-canvas-leftcolumn li {
   color: #AB5500;
   list-style-type: disc;
}
#xo-canvas-leftcolumn li:hover {
   /*color: #562F00;*/
}

/*======== right column ========*/
#xo-canvas-rightcolumn {
	background-color:				inherit;
	color:							#333;
	border-left: dotted 1px #d7863e;	
}
#xo-canvas-rightcolumn .xo-block {}
#xo-canvas-rightcolumn a {
	background-color: 			inherit;
	color:							#AB5500;
	text-decoration: 				none;
}
#xo-canvas-rightcolumn a:hover {
	background-color: 			inherit;
	color:							#562F00;
	text-decoration: 				none;
}
#xo-canvas-rightcolumn .xo-blocktitle {	
	background: url(../icons/bullet.gif) no-repeat left;
	padding-left:					13px;
	padding-top: 2px;
	padding-bottom:				3px;	
	color:							#562F00;
	font-family:					"Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-size:						1.2em;
	font-weight:					bold;
}	
#xo-canvas-rightcolumn .xo-blockcontent {
	background-color:				inherit;
	padding:							.5em;
	color:							#333;7+2
}
#xo-canvas-rightcolumn img {
	margin: 							3px 3px 0 7px;
	padding: 						2px;
	border: 							1px solid #d7863e;
}
#xo-canvas-rightcolumn img:hover {border: 1px solid #562F00;}

#xo-canvas-rightcolumn li {
   color: #AB5500;
   list-style-type: disc;
}
#xo-canvas-rightcolumn li:hover {
   /*color: #562F00 ;*/
}

/* ======= Content center ===========*/
#xo-page .xo-blockszone > .xo-block {	
}
.xo-block ul {
	margin:							0;
	padding:							0;
	list-style-type:				none;
}
#xo-page .xo-blockszone .xo-blocktitle {
	/*margin:							0 .5em;
	background-color: 			inherit;
	padding-left:					4px;
	padding-bottom:				3px;
	border-bottom: dotted 1px #E1E1E1;
	color:							#333;
	font-family:					"Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-size:						1.6em;
	font-weight:					normal;*/

padding: 0; margin: -3px 0 5px 0 ; border-bottom: 1px solid #d7863e;
color:#562f00;text-transform: capitalize;font-size: 1.6em; text-align: left; font-weight: bold; padding-right: 0.3em;

}
#xo-page .xo-blockszone .xo-blockcontent {
	background-color: 			inherit;
	padding:							0px;
	color:							#333;
	text-align: 					justify;
}

#xo-page #xo-page-topleftblocks .xo-blockcontent {
padding-right:10px;
}

#xo-page #xo-page-toprightblocks .xo-blockcontent {
padding-left:10px;
}

#xo-page .xo-blockszone .xo-blockcontent img {
	margin: 							3px 3px 0 7px;
	padding: 						2px;
	border: 							1px solid #e1e1e1 !important;
}
#xo-page .xo-blockszone .xo-blockcontent img:hover {
	background-color: 			#fff !important;
	color:							inherit;
	border: 							1px solid #562F00 !important;
}
#xo-page .xo-blockszone .xo-blockcontent a {
	background-color:				inherit;
	color:							#AB5500;
	text-decoration:				none;
}
#xo-page .xo-blockszone .xo-blockcontent a:hover {
	background-color:				inherit;
	color:							#562F00;
	text-decoration: none;
}
#xo-page .xo-blockszone li {
   color: #AB5500;
   list-style-type: disc;
}
#xo-page .xo-blockszone li:hover {
   /*color: #562F00;*/
}

/* ======= Center blocks ===========*/
#xo-page-topleftblocks .xo-block, #xo-page-toprightblocks .xo-block,#xo-page-bottomleftblocks .xo-block, #xo-page-bottomrightblocks .xo-block {}
#xo-page-topcenterblocks .xo-block, #xo-page-bottomcenterblocks .xo-block {}
/* exemple :
#xo-page-topleftblocks .xo-block .xo-blocktitle {
	color: #ff00ff;
	background-color: transparent;
} 
#xo-page-topleftblocks .xo-block .xo-blockcontent {
	color: #ff0000;
	background-color: #000;
} 
etc ...*/

.xo-blockcontent #block_topic td {color:#333;padding:3px;}
.xo-blockcontent #block_topic td.forum_name {text-align:left;}
.xo-blockcontent #block_topic td.forum_name a {color:#562F00;}
.xo-blockcontent #block_topic td.forum_name a:hover {color:#AB5500;}
.xo-blockcontent #block_topic td.topic_subject {text-align:left;}
.xo-blockcontent #block_topic td.topic_subject a {color:#562F00;}
.xo-blockcontent #block_topic td.topic_subject a:hover {color:#AB5500;}

.xo-blockcontent #block_topic tr.even td {background-color:#fcf8ee;}
.xo-blockcontent #block_topic tr.odd td {background-color:#f3efe5;}

.xo-blockcontent #block_topic tr.rollovereven {background-color:#FFF;}
.xo-blockcontent #block_topic tr.rolloverodd {background-color:#FFF;}
