<{$block.spotlightcontent}>

<{if $block.showother}>

    <div class= "itemOtherArticles" style="clear:both;">

        <h3><{$smarty.const._AMS_MB_SPOT_OTHERNEWS}></h3>

        <ul>

            <{foreach item=news from=$block.stories}>

				<{if $news.friendlyurl_enable != 1}>

                <li style="clear:both;"><a href="<{$xoops_url}>/modules/AMS/article.php?storyid=<{$news.id}>"><{$news.title}></a> <span class="date"><{$news.published|truncate:10:""}></span> <!--(<{$news.hits}>)--></li>

				<{else}>

                <li style="clear:both;"><a href="<{$news.friendlyurl}>"><{$news.title}></a>  <span class="date"><{$news.published|truncate:10:""}></span> <!--(<{$news.hits}>)--></li>

				<{/if}>

			

            <{/foreach}>

        </ul>

    </div>

<{/if}>

<{if $block.showministats == 1}>

    <div class="itemFoot" style="clear:both; text-align: center;">

        <span><{$smarty.const._AMS_MB_SPOT_TOTALARTICLES}> : <{$block.total_art}></span>&nbsp;

        <span><{$smarty.const._AMS_MB_SPOT_TOTALREADS}> : <{$block.total_read}></span>&nbsp;

        <span><{$smarty.const._AMS_MB_SPOT_TOTALCOMMENTS}> : <{$block.total_comments}></span>

    </div>

<{/if}>

</div>

</div>

</div>