/************************************************************************************************************

	DHTML Suite for Applications
	(C) www.dhtmlgoodies.com, August 2006

	CSS for the DHTMLsuite_tableWidget class.
	
	Terms of use:
	Look at the terms of use at http://www.dhtmlgoodies.com/index.html?page=termsOfUse
	
	Thank you!
	
	www.dhtmlgoodies.com
	Alf Magne Kalleland

************************************************************************************************************/

.DHTMLSuite_menuBar_top{	/* The bar that is parent of the menu strip */
	height:26px;
	width:100%;
	background-repeat:repeat-x;
	font-family: Arial;
	font-size:12px;
	z-index:100000;
	padding-left:10px;
	background-image:url('{xoops_url}/modules/multimenu/templates/include/multimenu_suite_horizontal/menu_strip_bg.jpg');
}

.DHTMLSuite_menuBar_sub{
	position:absolute;
	background-color:#FFF;
	border:1px solid #000;
	background-image:url('{xoops_url}/modules/multimenu/templates/include/multimenu_suite_horizontal/menu-bar-gradient.jpg');	/* Background image for sub menu items */
	background-repeat:repeat-y;
	background-position: left center;
	display:inline;
}

 /* CSS FOR MENU ITEM OF TYPE "top" */

.DHTMLSuite_menuItem_top_regular,.DHTMLSuite_menuItem_top_over,.DHTMLSuite_menuItem_top_click,.DHTMLSuite_menuItem_top_disabled,.DHTMLSuite_menuItem_top_active{
	height:19px;
}
.DHTMLSuite_menuItem_top_regular div,.DHTMLSuite_menuItem_top_over div,.DHTMLSuite_menuItem_top_click div,.DHTMLSuite_menuItem_top_disabled div,.DHTMLSuite_menuItem_top_active div{
	padding-top:2px;
	padding-bottom:2px;
}
.DHTMLSuite_menuItem_top_regular{	/* Top level menu item - Regular state */
	padding-left:4px;
	padding-right:4px;
	margin-right:2px;
	padding-top:1px;
	padding-bottom:1px;	
	cursor:pointer;
	line-height:16px;
	margin-top:2px;
}

.DHTMLSuite_menuItem_top_over{ /* Top level menu item - Mouse over state */
	padding-left:3px;
	padding-right:3px;
	margin-right:2px;
	border:1px solid #000;
	background-color:#98BF4C;
	cursor:pointer;
	line-height:16px;
	margin-top:2px;
}

.DHTMLSuite_menuItem_top_active{	/* Top level menu item - Active state - this is typical the state for menu item 1 when a sub group is expanded and the mouse is located over one of the sub menu items */
	padding-left:3px;
	padding-right:3px;
	margin-right:2px;
	border:1px solid #000;
	border-bottom:1px solid #FFF;
	cursor:pointer;
	line-height:16px;
	margin-top:2px;
}

.DHTMLSuite_menuItem_top_click{	/* Top level menu item - Mouse click state */
	padding-left:3px;
	padding-right:3px;
	margin-right:2px;
	border:1px solid #000;
	background-color:#94B94A;
	cursor:pointer;
	line-height:16px;
	margin-top:2px;
	z-index:20000;
}

.DHTMLSuite_menuItem_top_disabled{	/* Disabled menu item */
	padding-left:4px;
	padding-right:4px;
	margin-right:2px;
	padding-top:1px;
	padding-bottom:1px;
	cursor:default;
	line-height:16px;
	margin-top:2px;	
}

.DHTMLSuite_menuItem_top_disabled img,.DHTMLSuite_menuItem_top_disabled div{
	filter:alpha(opacity=30);
	opacity:0.3;

}

.DHTMLSuite_menuItem_top_disabled div,.DHTMLSuite_menuItem_top_active div, .DHTMLSuite_menuItem_top_click div, .DHTMLSuite_menuItem_top_regular div,.DHTMLSuite_menuItem_top_over div{	/* divs for the text,icon and arrow of a menu item */
	float:left;
	padding-left:1px;
	padding-right:1px;
}

/* CSS FOR THE SMALL ARROW DIV - WHEN YOU CLICK ON THIS DIV, SUB ELEMENTS WILL SHOW */
.DHTMLSuite_menuItem_top_arrowShowSub{
	width:12px;
	background-repeat:no-repeat;
	background-position:center center;
	background-image: url('{xoops_url}/modules/multimenu/templates/include/multimenu_suite_horizontal/menu_strip_down_arrow.png');
	margin:0px;
	margin-right:-1px;
	/* ma\rgin-right:-3px;	/* Size of padding-right of top menu items - used to get the arrow to apear at the right of the menu item */
	
	padding:0px;
	height:16px;
	margin-left:2px;
	float:right;
}

.DHTMLSuite_menuItem_top_over .DHTMLSuite_menuItem_top_arrowShowSub,
.DHTMLSuite_menuItem_top_click .DHTMLSuite_menuItem_top_arrowShowSub
{	/* Sub menu arrows */
	margin-left:1px;
	border-left:1px solid #000;
}

/* CSS FOR SEPARATOR */

.DHTMLSuite_menuItem_separator_top{	/* Separator of type "top" */
	height:20px;
	margin-top:3px;
	margin-bottom:3px;
	width:4px;
	padding-left:3px;
	padding-right:3px;
	background-repeat:repeat-y;
	background-image:url('{xoops_url}/modules/multimenu/templates/include/multimenu_suite_horizontal/menu_strip_separator-gray.gif');
	
}


/* CSS FOR MENU ITEM OF TYPE "sub" */

.DHTMLSuite_menuItem_sub_regular, .DHTMLSuite_menuItem_sub_over,.DHTMLSuite_menuItem_sub_click,.DHTMLSuite_menuItem_sub_disabled,.DHTMLSuite_menuItem_sub_active{	/* Commom css for regular, mouse over and mouse click items */
	clear:both;	
	line-height:18px;
	height:18px;	
	padding-left:25px;
	padding-right:4px;
	padding-top:2px;
	padding-bottom:2px;	
	cursor:pointer;	
	margin:1px;
	background-repeat:no-repeat;
	color:#000;
}
.DHTMLSuite_menuItem_sub_disabled{
	cursor:default;
}
.DHTMLSuite_menuItem_sub_disabled div,.DHTMLSuite_menuItem_sub_disabled{	/* Disabled sub menu item - Here, we apply the rules on the divs inside the element, i.e. the div for the icon, text and arrow */
	filter:alpha(opacity=30);
	opacity:0.3;
}
.DHTMLSuite_menuItem_sub_regular{	/* Regular menu item */
	margin-left:2px;	/* size of margin above + 1 pixel */
	padding-top:3px;	/* Size of padding-top above + 1 pixel */
	padding-bottom:3px;	/* Size of padding-bottom above + 1 pixel */
}

.DHTMLSuite_menuItem_sub_over,.DHTMLSuite_menuItem_sub_click,.DHTMLSuite_menuItem_sub_active{
	border:1px solid #006;
}


.DHTMLSuite_menuItem_sub_regular div, .DHTMLSuite_menuItem_sub_over div,.DHTMLSuite_menuItem_sub_click div{
	float:left;	/* To get the icons and text of sub elements side by side */
}

.DHTMLSuite_menuItem_sub_over,.DHTMLSuite_menuItem_sub_active{	/* Mouse over effect */	
	background-color:#98BF4C;		
}

.DHTMLSuite_menuItem_sub_click{	/* Mouse click effect */
	background-color:#94B94A;
}

.DHTMLSuite_menuItem_sub_click div, .DHTMLSuite_menuItem_sub_regular div,.DHTMLSuite_menuItem_sub_over div,.DHTMLSuite_menuItem_sub_active div,.DHTMLSuite_menuItem_sub_disabled div{	/* divs for the text,icon and arrow of a menu item */
	float:left;
	padding-left:1px;
	padding-right:1px;
	
}
.DHTMLSuite_menuItem_sub_arrowShowSub{	/* Arrow div for sub elements (Right pointing arrow ) */
	background-image:url('{xoops_url}/modules/multimenu/templates/include/multimenu_suite_horizontal/menu-bar-right-arrow.png');	/* Path relative to the css file */
	width:18px;
	height:18px;
	text-align:right;
	position:absolute;
	right:0px;
	background-repeat:no-repeat;
	background-position: center right;
}


.DHTMLSuite_menuItem_separator_sub{	/* Separator of type "sub" */
	height:1px;
	margin-top:1px;
	margin-bottom:1px;
	margin-left:24px;
	padding-right:3px;
	background-color:#aeaeae;
	
}