User Information:<p>

Name: <{$name|capitalize}><br>
Email: <{$email|escape}><br>


<{if $admin == "yes"}>
  The Smarty Template is greeting you, mighty admin! <p>
<{/if}>



<table width='100%' border='0' cellpadding='4' cellspacing='1'>
	 <tr>
		 <th width='15%'><b><{$headcol1}></b></th>
		 <th><b><{$headcol2}></b></th>
		 <th><b><{$headcol3}></b></th>
		 <th><b><{$headcol4}></b></th>
	 </tr>
	 <{foreach item=thisrow from=$row}>
	 <tr class='<{$thisrow.class}>'>
		 <td><{$thisrow.number}></td>
		 <td align=center title="bla"><{$thisrow.name}></td>
		 <td><font color='<{$thisrow.infocolor}>'><{$thisrow.info}></font></td>
		 <td><{$thisrow.link}></td>
	 </tr>
	 <{/foreach}>
</table>
