<!-- template: comp_index.html -->
<h4 style="text-align:left;"><{$headline}></h4>
<{$hmenu}> 
<!-- Compute the number of columns the table will have -->
<{assign var="colspan1" value="$cat_count"}> 
<{if $colspan1 < 3}> 
<{assign var="colspan1" value="3"}> 
<{/if}>
<table border="0" cellpadding="10px" cellspacing="0">
	<{foreach item=error from=$errors}>
	<tr>
		<td>
			<{$lang.error}>:
		</td>
		<td>
			<{$error.msg}>
		</td>
	</tr>
	<tr>
		<td>
			SQL:
		</td>
		<td>
			<{$error.data}>
		</td>
	</tr>
	<{/foreach}>
</table>

<{* Display the description for this category *}>
<p><{$this_category.cat_description}></p>

<!-- Start the table that will contain the rows of data from the database -->
<table border="0" cellpadding="0" cellspacing="0" class="nothing" style="border-left: 1;" ID="Table4">
<tr>
	<{foreach item=link from=$rows[0] key=key}>
	<th><{$key}></th>
	<{/foreach}>
</tr>
	<{foreach item=link from=$rows}>
	<tr>
		<{foreach item=field from=$link}>
			<td><{$field}>xxx</td>
		<{/foreach}>
	</tr>
	<{/foreach}>
</table>

<div align="left"><{$lang.notice}></div>
<P><{$this_category.cat_footer}></P>
<{$hmenu}>
<table width = 100%>
<{* You can change this to be your own signature *}>
<tr><td width="50%"><hr></td><td><FONT size=1><a href="websiteURL">5comp</a>&nbsp;Generated&nbsp;By&nbsp<A href="http://www.worldware.com">XooperMod</A></FONT></td><td width = "50%"><hr></td></tr>
</table>
