<{popup_init src="`$smarty.const.XOOPS_URL`/modules/comp/include/overlib/overlib.js"}>

<{$smarty.const._COMP_SENT_CHALLENGES1}> <b> <{$difference}> </b> <{$smarty.const._COMP_SENT_CHALLENGES2}> <br>
<{$smarty.const._COMP_VALID_CHALLENGE_DIFFERENCE}> <p>

<{if $show == "yes"}>
	<h2 style="text-align:left"><{$smarty.const._COMP_SEARCH_RESULT_PLAYERS}>:</h2>

	<{* Player List Table *}>
	<table class="outer">
		<tr>
			<th><{$smarty.const._COMP_PLAYER|capitalize}></th>
			<th><{$smarty.const._COMP_POINTS|capitalize}></th>
			<th><{$smarty.const._COMP_SEND_INVITATION}></th>
		</tr>
	
	<{foreach item=row from=$content}>
		<tr class="<{cycle values="even,odd"}>">

			<{* Country image *}>
			<td style="vertical-align:middle"><img style="vertical-align:middle" src="images/flags/<{$row.country}>.gif" alt="<{$row.country}>">
						
			<{* Display user name *}>
			<{include file="file:$xoops_rootpath/modules/comp/templates/username_options.html"
				uid=$row.xoops_user_id name=$row.uname status=$row.global_status options=$row.options}>
			
			<td><{$row.rating}></td>
			<td>[<a style="color:red;" href="challenges.php?op=invitation&lid=<{$row.comp_id}>&iid=<{$row.xoops_user_id}>" title="<{$smarty.const._COMP_INVITE_PLAYER_ALT}>"><{$smarty.const._COMP_INVITE_PLAYER}></a>]</td>
		</tr>
	<{/foreach}>
	</table>
<{/if}>

<{if $error == "no_players"}>
	<b><{$smarty.const._COMP_ERRORS_NO_PLAYERS_FOUND}></b>
<{/if}>