<div class="htmltooltip">
	<table class="outer">
	<tr><th colspan="2"><{$name}>'s <{$smarty.const._COMP_OPTIONS|capitalize}></th></tr>
	<{foreach name=rulefor item=rule from=$options.rules}>
	<{if $rule.name != "5th" }>
		<tr class="<{cycle values=even,odd}>">
			<td><img style="height:24px;" src="images/dogtags/<{$rule.name}>.png"></td>
			<td style="vertical-align:middle"><{$rule.desc}></td>
		</tr>
	<{/if}>
	<{/foreach}>
	<{foreach name=luckfor item=luck from=$options.luck}>
		<tr class="<{cycle values=even,odd}>">
			<td><img style="height:24px;" src="images/dogtags/<{$luck.name}>.png"></td>
			<td style="vertical-align:middle"><{$luck.desc}></td>
		</tr>
	<{/foreach}>
	<{foreach name=modefor item=mode from=$options.mode}>
		<tr class="<{cycle values=even,odd}>">
			<td><img style="height:24px;" src="images/dogtags/<{$mode.name}>.png"></td>
			<td style="vertical-align:middle"><{$mode.desc}></td>
		</tr>
	<{/foreach}>
	</table>
</div>

<{if $local_status !=0 }>
<{$name}> (retired)
<{else}>
<a style="vertical-align:middle
<{if $global_status != 0 }>
	;color:red
<{/if}>
" href="profile.php?uid=<{$uid}>"><{$name}></a>
<{/if}>