#buttontop {
	float: left !important;
	width: 100% !important;
	background: #e7e7e7 !important;
	font-size: 93% !important;
	line-height: normal !important;
	border-top: 1px solid #b7ae88 !important;
	border-left: 1px solid #b7ae88 !important;
	border-right: 1px solid #b7ae88 !important;
	margin: 0 !important;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-radius-topleft: 5px;
	-webkit-border-radius-topright: 5px;
	-khtml-border-radius-topleft: 5px;
	-khtml-border-radius-topright: 5px;
	border-radius-topleft: 5px;
	border-radius-topright: 5px;
	line-height: normal !important;
}

#buttonbar {
	float: left !important;
	width: 100% !important;
	background: #e7e7e7 url(../img/bg.gif) repeat-x left bottom
		!important;
	font-size: 93% !important;
	line-height: normal !important;
	border-left: 1px solid #b7ae88 !important;
	border-right: 1px solid #b7ae88 !important;
	border-bottom: 1px solid #b7ae88 !important;
	margin-bottom: 12px !important;
}

#buttonbar ul {
	margin: 0 !important;
	margin-top: 15px !important;
	padding: 10px 10px 0 !important;
	list-style: none !important;
}

#buttonbar li {
	display: inline !important;
	margin: 0 !important;
	padding: 0 !important;
}

#buttonbar a {
	float: left !important;
	background: url(../img/left_both.gif) no-repeat left top !important;
	margin: 0 !important;
	padding: 0 0 0 9px !important;
	text-decoration: none !important;
	margin: 0 !important;
	padding: 0 0 0 9px !important;
	text-decoration: none !important;
}

#buttonbar a span {
	float: left !important;
	display: block !important;
	background: url(../img/right_both.gif) no-repeat right top !important
		;
	padding: 5px 15px 4px 6px !important;
	color: #353639 !important;
	white-space: nowrap !important;
	font-family: Arial, Helvetica, sans-serif !important;
	font-weight: bold !important;
}

#buttonbar a span {
	float: none !important;
}

#buttonbar a:hover span {
	color: #272727 !important;
}

#buttonbar #current a {
	background-position: 0 0 !important;
}

#buttonbar #current a span {
	background-position: 100% -150px !important;
	padding-bottom: 5px !important;
	color: #272727 !important;
}

#buttonbar a:hover {
	background-position: 0% -150px !important;
}

#buttonbar a:hover span {
	background-position: 100% -150px !important;
}