/**
 * Declaraciones para nuevo formato
 * @author BitC3R0
*/ /*============================================================ */
#logoHead {
	padding: 0;
	text-align: left;
	background: url(../img/dark/dark-head.png) repeat-x;
	border-bottom: 1px solid #000;
	height: 72px;
}

#logoHead td.other {
	/*float: right;*/
	/*height:auto;*/
	width:50px;
	text-align:right;
}

#navbarCP {
	background: url(../img/dark/dark-menu.png) repeat-x;
	/*padding: 4px;*/
	border-top: 1px solid #000;
	border-bottom: 1px solid #ccc;
	font-weight: normal;
	font-family: tahoma, Helvetica, sans-serif;
	height: 28px;
	list-style: none;
}

#headnav {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 10px;
	padding-left: 10px;
}

/* ==================== start nav menu ==================== */
#navbarCP ul.menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navbarCP ul.menu * {
	margin: 0;
	padding: 0;
}

#navbarCP ul.menu a {
	display: block;
	color: #1F1F1F;
	text-decoration: none;
}

#navbarCP ul.menu li {
	position: relative;
	float: left;
	margin-right: 2px;
	list-style: none;
}

#navbarCP ul.menu ul {
	position: absolute;
	top: 26px;
	left: 0;
	background: #d1d1d1;
	display: none;
	opacity: 0;
}

#navbarCP ul.menu ul li {
	position: relative;
	border: 1px solid #aaa;
	border-top: none;
	width: 148px;
	margin: 0;
	list-style: none;
}

#navbarCP ul.menu ul li a {
	display: block;
	padding: 3px 7px 5px;
	background: #5F5F5F;
	color: #f7f7f7;
	/*background: #ddd  no-repeat left;
        padding-left: 20px;*/
}

#navbarCP ul.menu ul li a:hover {
	background-color: #333;
	color: #f7f7f7;
}

#navbarCP ul.menu ul ul {
	left: 148px;
	top: -1px;
	list-style: none;
}

#navbarCP ul.menu .menulink {
	border: 1px solid #333;
	padding: 5px 7px 4px;
	font-weight: bold;
	color: #ccc;
	background: url(../img/dark/dark-menu.png) repeat-x;
	width: 134px;
}

#navbarCP ul.menu .menulink:hover,ul.menu .menuhover {
	border: 1px solid #ccc;
	background: #333;
}

#navbarCP ul.menu .sub {
	background: #5F5F5F url(../img/arrow.gif) 136px 8px no-repeat;
	/*padding-left: 3px;*/
}

#navbarCP ul.menu .topline {
	border-top: 1px solid #aaa;
}

/* ==================== end nav menu ==================== */
#choosestyle a {
	font-family: tahoma, Helvetica, sans-serif;
	font-size: 10px;
	border: 1px solid #ccc;
	margin: 2px 4px 2px 4px;
	float: right;
	background-color: #f9f9f9;
	color: #333;
	padding: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}

#choosestyle a:hover {
	background-color: #C2CEEF;
	color: #000;
	text-decoration: none;
}
/* ==================== For accordion menu ====================*/
.menu_list {	width: 100%;}

.menu_head {
	padding: 5px 10px;
	cursor: pointer;
	position: relative;
	margin: 1px;
	background: url(../img/accordion.png) repeat-x !important;
	color: #fff;
	border: 1px solid #FFF;
	cursor: pointer;
	font-weight: bold;
}

.menu_body {
	display: none;
	background: #f1f1f1;
}

.menu_body a {
	display: block;
	color: #3E728F;
	padding-left: 10px;
	font-weight: bold;
	text-decoration: none;
}

.menu_body a:hover {
	color: #000;
	text-decoration: none;
}

/* ==================== for xoops gift shop ====================*/
.xgiftshop {	text-align: center !important;}

/* ==================== for main logo ====================*/
#main_logo {
	float: left;
	background: url(../img/dark/header-logo_big.png) no-repeat !important
		;
	height: 72px !important;
	width: 160px !important;
}

/*==================== for tooltip =========================*/
#tooltip {
	position: absolute;
	border: 1px solid #333;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	background: #f7f5d1;
	padding: 2px 5px;
	color: #333;
	display: none;
}
