/* $Id$ */
body {
	background-color: #EBE7E1;
}

.outer {
	border: 2px solid #CCCCCC;
}

.head {
	background-color: #AFAFAF;
}

.even {
	background-color: #EFEFEF;
}

.odd {
	background-color: #DFDFDF;
}

#logoHead {
	background: url(../img/orange/dark-head.png) repeat-x;
	border-bottom: 1px solid #000;
}

#navbarCP {
	background: url(../img/orange/dark-menu.png) repeat-x;
	border-top: 1px solid #000;
	border-bottom: 1px solid #ccc;
}

#navbarCP ul.menu ul li a {
	background: #5F5F5F;
	color: #f7f7f7;
}

#navbarCP ul.menu ul li a:hover {
	background-color: #333;
	color: #f7f7f7;
}

#navbarCP ul.menu .menulink {
	border: 1px solid #333;
	color: #ccc;
	background: url(../img/orange/dark-menu.png) repeat-x;
}

#navbarCP ul.menu :hover .menulink,ul.menu .menuhover {
	border: 1px solid #ccc;
	background: #333;
}

#navbarCP ul.menu .sub {
	background: #5F5F5F url(../img/arrow-light.gif) 136px 8px no-repeat;
}

#choosestyle a {
	border: 1px solid #CCCCCC;
	background-color: #f9f9f9;
	color: #333;
}

#bodyCP {
	background-color: #F7F7F7;
	border: 2px solid #ccc;
}

#containBodyCP {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #666;
}

#navOptionsCP {
	background: url(../img/orange/dark-navcp.png) repeat-x;
	border-top: 1px solid #f9a828;
	border-bottom: 1px solid #f9a828;
}

#navOptionsCP a {
	border: 1px solid #FFB24F;
}

#navOptionsCP a:hover {
	background-color: #E0E6EF;
	border-color: #ADD8E6;
}

#navOptionsCP .modname {
	color: #1d1f24;
}

#xo-footer {
	background-color: #333;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #666;
	color: #f7f7f7;
}

.cpicon a {
	background-color: #f0f0f0;
	color: #666666;
	border: 1px solid #f9f9f9;
}

.cpiconmodules a {
	background-color: #f0f0f0;
	color: #666666;
	border: 1px solid #f9f9f9;
}

.cpicon a:hover,.cpiconmodules a:hover {
	color: #1E90FF;
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f9f9f9;
}

#main_logo {
	background: url(../img/orange/header-logo_big.png) no-repeat
		!important;
}