/* $Id: style.css 3636 2009-09-12 23:32:10Z trabis $ */

	/* ==================== Import others style cheats ==================== */
@import url(buttonbar.css);
@import url(navbar.css);
@import url(content.css);

	/* ==================== General definitions ==================== */
html {
	
}

body {
	background-color: #EBE9E1;
	font-size: 11px;
	font-family: Verdana, tahoma, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

hr {
	height: 3px;
	border: 3px #E18A00 solid;
	width: 95%;
}

ul {
	margin: 2px;
	padding: 2px;
	list-style: decimal inside;
	text-align: left;
}

li {
	margin-left: 2px;
	list-style: square inside;
	color: #000;
}





a:link {
	text-decoration: none;
	color: #4177A6;
	font-weight: bold;
	background-color: transparent;
}

a:visited {
	text-decoration: none;
	color: #4177A6;
	font-weight: bold;
	background-color: transparent;
}

a:hover {
	text-decoration: underline;
	color: #FF4500;
	font-weight: bold;
	background-color: transparent;
}





#bodyCP {
	width: 95%;
	margin: 0 auto;
	background-color: #F7F7F7;
	border: 2px solid #ccc;
	padding: 8px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}

#containBodyCP {
	padding: 0;
	margin: 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #666;
}

#navOptionsCP {
	padding: 0 5px 0 5px;
	height: 38px;
	background: url(../img/dark/dark-navcp.png) repeat-x;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

#navOptionsCP a {
	border: 1px solid #00536C;
	height: 32px;
	display: block;
	width: 32px;
	float: right;
	margin-right: 2px;
	margin-left: 0;
	margin-top: 1px;
	margin-bottom: 0
}

#navOptionsCP a:hover {
	background-color: #E0E6EF;
	border-color: #ADD8E6;
}

#navOptionsCP .modname {
	float: left;
	font-size: 18px;
	font-weight: bold;
	color: #1d1f24;
	margin-top: 4px;
}

#navOptionsCP .module {
	float: left;
	font-size: 18px;
	font-weight: bold;
	color: Silver;
	margin-top: 4px;
}

.CPrssLinks {
	padding: 4px;
}

.CPrssLinks a {
	font-size: 12px;
	background: url(../img/item.png) no-repeat left;
	padding: 2px;
	display: block;
	padding-left: 18px;
}

#xo-footer {
	padding: 4px;
	background-color: #333;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #666;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	color: #f7f7f7;
}

/* ==================== From the xoops.css  ==================== */
.CPbigTitle {
	font-size: 12px;
	color: #606060;
	background-position: left top;
	background-repeat: no-repeat;
	font-weight: bold;
	height: 30px;
	vertical-align: middle;
	padding: 10px 40px 0 40px;
	border-bottom: 3px solid #393e41;
	font-weight: bold;
	margin-bottom: 10px;
}

.CPindexOptions {
	padding: 4px;
	vertical-align: top;
}

#xo-index {
	width: 100%;
	border: 0;
}

#xo-modules {	width: 69%;}

#xo-accordion {	width: 29%;}

.CPmediumTitle {
	font-weight: bold;
	font-size: 14px;
	color: #FF4500;
}

.systemicons {	height: 120px;}

.cpiconmodules,.cpicon {
	margin: 3px;
	font-family: tahoma, Helvetica, sans-serif;
	text-align: center;
}

.cpiconmodules {
	min-height: 350px; /* for min height of module option*/
}

.cpicon a {
	display: block;
	float: left;
	height: 75px !important;
	width: 60px !important;
	vertical-align: middle;
	text-decoration: none;
	background-color: #f0f0f0;
	padding: 2px;
	margin: 3px;
	color: #666666;
	border: 1px solid #f9f9f9;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-khtml-border-radius: 9px;
	border-radius: 9px;
}

.cpiconmodules a {
	display: block;
	float: left;
	height: 95px !important;
	height: 95px;
	width: 90px !important;
	width: 90px;
	vertical-align: middle;
	text-decoration: none;
	background-color: #f0f0f0;
	padding: 2px 5px 1px 5px;
	margin: 3px;
	color: #666666;
	border: 1px solid #f9f9f9;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
}

.cpicon a:hover,.cpiconmodules a:hover {
	color: #1E90FF;
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f9f9f9;
	filter: alpha(opacity =             80);
	-moz-opacity: 0.8;
	-webkit-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
}

.cpicon img,.cpiconmodules  img {
	margin-top: 8px;
	margin-bottom: 8px;
}

.cpicon span,.cpiconmodules span {
	font-size: 10px;
	font-weight: bold;
	display: block;
}

.cpicon span.uno,.cpiconmodules span.uno {
	font-size: 11px;
	font-weight: normal;
	text-decoration: underline;
	color: Blue;
}

.cpicon span.unor,.cpiconmodules span.unor {
	font-size: 11px;
	font-weight: normal;
	text-decoration: underline;
	color: #CC0000;
}