<script type="text/javascript" src="<{$xoops_url}>/modules/comp/templates/blocks/prototype.lite.js"></script>
<script type="text/javascript" src="<{$xoops_url}>/modules/comp/templates/blocks/moo.fx.js"></script>
<script type="text/javascript" src="<{$xoops_url}>/modules/comp/templates/blocks/moo.fx.pack.js"></script>
<script type="text/javascript" src="<{$xoops_url}>/modules/comp/templates/blocks/myinit.js"></script>
<link rel="stylesheet" type="text/css" href="http://www.tripleawarclub.org/themes/Xonerol_brown/css/accordion.css" />

<!-- links -->
<div id="menu_vert">

<div id="accordion">

<{foreach item=ladder from=$block.ladders}>

	<h3 class="moofx1"><{$ladder.title}></h3>

	<{if $ladder.comp_id!=4 && $ladder.is_admin == false}>
		     			   
		<div class="moofx2">
		<a href="#">Coming soon!!!</a>	
		</div>	
		
	<{else}>

		<div class="moofx2">

				<a 
href="<{$smarty.const.XOOPS_URL}>/modules/comp/rules.php?lid=<{$ladder.comp_id}>"><{$smarty.const._COMP_BLOCK_RULES}></a>			
				<a href="<{$smarty.const.XOOPS_URL}>/modules/comp/players.php?lid=<{$ladder.comp_id}>"><{$smarty.const._COMP_BLOCK_PLAYERS}></a>
				<a href="<{$smarty.const.XOOPS_URL}>/modules/comp/standings.php?lid=<{$ladder.comp_id}>"><{$smarty.const._COMP_BLOCK_STANDINGS}></a>
				<a href="<{$smarty.const.XOOPS_URL}>/modules/comp/matches.php?lid=<{$ladder.comp_id}>"><{$smarty.const._COMP_BLOCK_MATCHES}></a>
				<a href="<{$smarty.const.XOOPS_URL}>/modules/comp/challenges.php?lid=<{$ladder.comp_id}>"><{$smarty.const._COMP_BLOCK_CHALLENGES}></a>
				<a href="<{$smarty.const.XOOPS_URL}>/modules/newbb/viewforum.php?forum=<{$ladder.comp_id}>"><{$smarty.const._COMP_BLOCK_FORUMS}></a>

				<{if $ladder.is_player != true}>
					<a href="<{$xoops_url}>/modules/comp/join.php?lid=<{$ladder.comp_id}>"><{$smarty.const._COMP_BLOCK_JOIN}></a>
				<{else}>
					<a href="<{$xoops_url}>/modules/comp/leave.php?lid=<{$ladder.comp_id}>"><{$smarty.const._COMP_BLOCK_LEAVE}></a>
				<{/if}>
				<{if $ladder.is_player == true}>
					<a class="playermenu" href="<{$smarty.const.XOOPS_URL}>/modules/comp/profile.php?lid=<{$ladder.comp_id}>"><{$smarty.const._COMP_BLOCK_PROFILE}></a>
					<a class="playermenu" href="<{$smarty.const.XOOPS_URL}>/modules/comp/matches.php?op=search&lid=<{$ladder.comp_id}>"><{$smarty.const._COMP_BLOCK_FIND_OPPONENTS}></a>
					<a class="playermenu" href="<{$smarty.const.XOOPS_URL}>/modules/comp/matches.php?op=report&lid=<{$ladder.comp_id}>"><{$smarty.const._COMP_BLOCK_REPORT_MATCH}></a>
					<a class="playermenu" href="<{$smarty.const.XOOPS_URL}>/modules/comp/rating.php?op=rate"><{$smarty.const._COMP_BLOCK_RATE_PLAYER}></a>
					<a class="playermenu" href="<{$smarty.const.XOOPS_URL}>/modules/comp/challenges.php?lid=<{$ladder.comp_id}>&uid=<{$xoops_userid}>"><{$smarty.const._COMP_BLOCK_MY_CHALLENGES}></a>
				<{/if}>
				<{if $ladder.is_admin == true}>
					<a class="adminmenu" href="<{$smarty.const.XOOPS_URL}>/modules/comp/ladderadmin.php?lid=<{$ladder.comp_id}>">Admin stuff</a>
					<a class="adminmenu" href="<{$smarty.const.XOOPS_URL}>/modules/comp/cache.php?cid=<{$ladder.comp_id}>&op=clearall">clear cache</a>
				<{/if}>	
			

	</div>
	
	<{/if}>

<{/foreach}>

</div><!--end accordion-->

</div><!--end menu_vert-->
	  
<{$block.content}>

<script type="text/javascript" src="<{$xoops_url}>/modules/comp/templates/blocks/mybodyinit.js"></script>
